@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font:normal 400 18px/1.5em 'Montserrat','Helvetica',sans-serif;
    background-color:#f1faee;
    color: #1d3557;
}
h1{
    color: #a8dadc;
}
h2{
    font-size:50px;
}
h1,h2,h4{
    font-weight:700;
    color: #457B90;
}
h3{
    font-weight:500;
    font-size:48px;
    line-height:1.2em;
    color: #31587a;
}
h4{
    font-size: 24px;
}
a{
    text-decoration:none;
    color: #457B90;
}
#main-nav li{
    list-style-type: none; 
}
#hdr-nav{
    background:white;
}
li{
    list-style-type: disc;
}
header li{
    list-style-type: square;
}